@use "themes.scss";
@forward "themes.scss";

%panel-bg {
	//backdrop-filter: blur(12px);
}

@include themes.themify(themes.$themes) {
	%panel-bg {
		background-color: themes.themed('panel-bg');
	}
}

%panel-border-radius {
	border-radius: 12px;
}

@include themes.themify(themes.$themes) {
	%panel-border {
		border: 1px solid themes.themed('panel-border-color');
	}
}