@use "../../styles/common.scss" as common;

.timeButton {
	display: block;
	margin: 0 4px 0 0;
	background: transparent;

	&--text {
		border-radius: 20px;
		padding: 2px 6px;
		font-size: 12px;
		min-width: 36px;
		line-height: 18px;

		&:last-child {
			margin: 0;
		}
	}

	&--active {
		background: white;
		color: #111;
	}

	&--icon {
		border: none;
		padding: 0;
	}
}

@include common.themify(common.$themes) {
	.timeButton {
		color: common.themed('text-color');
	}

	.timeButton--text {
		border: 1px solid common.themed('text-color');
	}

	.timeButton--active {
		background: common.themed('text-color');
		color: common.themed('text-color-opposite');
	}
}