@use "../../styles/common.scss" as common;

.search {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 350px;
}

@include common.themify(common.$themes) {
	.search {
		color: common.themed('text-color');
	}
}