@use "../../styles/common.scss" as common;

.container {
	display: flex;
	flex-direction: row;
	justify-content: end;

	&__button {
		margin: 0 0 0 8px;
	}
}

@include common.themify(common.$themes) {
	.container {
		&__button {
			color: common.themed('text-color');
			background: common.themed('button-bg');
		}
	}
}