@use "../../styles/common.scss" as common;

.category {
	margin: 0 0 16px 0;

	&:last-child {
		margin: 0;
	}

	&__title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin: 0 0 12px 0;
	}

	&__body {

	}
}

@include common.themify(common.$themes) {
	.category {
		&__title {
			color: common.themed('text-color-subtle');
		}
	}
}